.container_kexie{
    max-width: 1200px;
	width:89%;
	margin: 0 auto;
	padding: 0;
    position: relative;
    top: -6px;
    min-height: 900px;
    margin-bottom: 81px;
}
.container_kexie img{
	margin: 0 auto;
	display: block;
	width: 100%;
}

#sidebar{
    width: 15.1%;
    height: 664px;
    min-width: 150px;
    position: absolute;
    top: 27.1%;
}
#sidebar ul{
	width:100%;
	list-style-type: none;

}

#sidebar ul>li {
	width:100%;
    height:51px;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #095BAD;
    text-align: left;
    text-decoration: none;
    line-height: 51px;
    text-indent: 24px;
}
#sidebar ul>li.others:hover{
    cursor: pointer;
    /*background-color: lightgreen;*/
}
#sidebar ul>li.first{
	color: #fff;
    background-color: #095BAD;
    height: 49px;
    border-bottom: 2px solid #FF9900;
    cursor: default;
}

#sidebar ul>li.pre {
	background-color: #f2f2f2;
}
#right{

    margin-left: 233px;
    position: relative;
    top: 36px;
}

.on > h1 {
    font-family: '微软雅黑 Bold', 微软雅黑;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    color: rgb(0, 0, 0);
    text-align: left;
    line-height: normal;
    border-bottom: 3px solid rgb(9, 91, 173);
    height: 47px;
}
.on > p {
    font-family: '微软雅黑 Regular', 微软雅黑;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: rgb(30, 30, 30);
    text-align: left;
    line-height: 34px;
    width: 99%;
    text-indent: 31px;
}
.hide{
    display: none;
}
#right>p{
    position: absolute;
    top: 22px;
    right: 36px;
}
#right>p,#right>p a,#right>p span{
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: #666666;
}
#right>p a{
	text-decoration: none;
}