.container_2{
	position: relative;
	width: 100%;
    top: -271px;
    margin: 0 auto;
    max-width: 1386px;
}

.container_2 #logo_2{
	position: absolute;
	background: url(../img/login/logo_2.png) no-repeat center 0;
	background-size: 100% 100%;
	width: 117px;
  	height: 117px;
  	left: 50px;
  	top: 105px;
}

.container_2 .font{
	color: #fff;
	text-align: center;
  	width: 308px;
  	position: absolute;
  	left: 176px;
  	top: 110px;
}

.container_2 .font p{
	margin-bottom: 0px;
}

.container_2 #up{font-size: 21px;}
.container_2 #middle{font-size: 45px;}
.container_2 #down{font-size: 14px;}

.container_3{
	width: 1348px;
	height: 464px;
	position: relative;
	box-sizing: border-box;
	top: -6px;
	margin: 0 auto;
	overflow: hidden;
}

.listImage{
	position: absolute;
	left: -1348px;
	width: 8088px;
	height: 464px;
	overflow: hidden;
	z-index: 1;
}

.listImage img{
	float: left;
}

.Buttons{
	position: absolute;
    bottom: /*74px*/27px;
    left: 45%;
    /*right: 7%;*/
    /* width: 102px; */
    height: 10px;
    z-index: 2;
}

.Buttons span{
	display: inline-block;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 20px;
    cursor: pointer;
    /*border: 1px solid #fff;*/
}

.Buttons .on{
	background-color: #f00;
}

.arrow{
	position: absolute;
    top: 128px;
    width: 50px;
    height: 80px;
    color: #fff;
    font-size: 48px;
    font-weight: 50px;
    z-index: 2;
    /* margin: 0 auto; */
    text-align: center;
    line-height: 80px;
    background-color: rgba(0,0,0,0.3);
    display: none;
    cursor: pointer;
}

.arrow:hover{
	background-color: rgba(0,0,0,0.7);
}

.container_3:hover .arrow{
	display: block;
}

#prv{left: 0;}
#next{right: 0;}

.title{
	position: absolute;
	top: 350px;
	left: 0;
	z-index: 2;
}

.title p {
    height: 20px;
    line-height: 20px;
    font-size: 32px;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    padding: 22px 5px;
    font-family: 微软雅黑;
}


/*footer的代码*/


.foot{
	max-width: 1348px;
	background-color: rgba(9,89,176,1);
	margin: 0 auto;
	width: 1349px;
	height: 166px;
}

#foot{
	margin: 0 auto;
	width: 94%;
	overflow: hidden;
}

.foot span{
	float: left;
	width: 33%;
	height: 100px;
	line-height: 100px;
	border-right: 1px solid rgb(193,163,118);
	text-align: center;
	margin: 42px 0px;
}

.foot #second{
	position: relative;
}

.foot #second img{
	position: absolute;
	top: -22px;
	left: 27%;
}

.foot #second p{
	color: #fff;
    font-size: 35px;
    position: absolute;
    top: 50px;
    left: 26%;
    font-family: 微软雅黑;
}

.foot span:first-child{
	border-left: 1px solid rgb(193,163,118);
}

.foot span:last-child img{
	margin-top: 25px;
}

.foot span:last-child img:first-child{
	padding-right: 52px;
}

.foot span:last-child img:last-child{
	padding-left: 52px;
}
