.container_kexie{
	width:89%;
	margin: 0 auto;
	padding: 0;
    /*background-color: #c2c;*/
    position: relative;
    top: -6px;
}
.container_kexie img{
	margin: 0 auto;
	display: block;
	width: 100%
}
/*.part_2{
	width:1205px;
	margin: 0 auto;
}*/
.sidebar{
    width: 15.1%;
    /* background-color: pink; */
    height: 665px;
    min-width: 175px;
    position: absolute;
    top: 31.7%;
}
.sidebar ul{
	width:100%;
	list-style-type: none;
	position: relative;
    top: -54px;
}
/*.sidebar ul>li{
	width: 100%;
	height:51px;
	background-color: #fff;
}*/

.sidebar ul>li {
    background-color: #fff;
	width:100%;
    height:51px;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #095BAD;
    text-align: left;
    text-decoration: none;
    line-height: 51px;
    text-indent: 24px;
}
.sidebar ul>li a:hover{
	background-color: #f2f2f2;
/*    cursor: pointer;*/
}
.sidebar ul>li.first{
	color: #fff;
    background-color: #095BAD;
    height: 49px;
    border-bottom: 2px solid #FF9900;
}
li a{
    text-decoration: none;
    display: block;
    background-color: #fff;
    width:100%;
    height:51px;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #095BAD;
    text-align: left;
    text-decoration: none;
    line-height: 51px;
    text-indent: 24px;
}
.sidebar ul>li#others_3 a{
	background-color: #f2f2f2;
}
.right{
/*    position: absolute;
    margin-left: 233px;
    top: 329px;*/
    /*方法二：不对right盒子使用absolute定位*/
    margin-left: 233px;
    position: relative;
    top: 36px;
    margin-bottom: 36px;
}
.right>h1{
    font-family: '微软雅黑 Bold', '微软雅黑';
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    color: #000000;
    text-align: left;
    line-height: normal;
    border-bottom: 3px solid #095BAD;
    height: 47px;
}
.right>span{
    position: absolute;
    top: 22px;
    right: 36px;
}
.right>span,.right>span a{
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: #666666;
}
.right>span a{
	text-decoration: none;
}
.right form{
    width: 360px;
    margin-left: 18%;
}
.right form label{
    font-size: 15px;
    display: inline-block;
    width: 60px;
    text-align: right;
    padding-right: 10px;
    font-family: '微软雅黑 Regular', '微软雅黑';
}
.right form input{
    width: 260px;
    height: 30px;
}
.right form select{
    width: 264px;
    height: 32px;
    margin-left:-4px;
}
.right form div{
    margin: 10px;
}
.right .submit{
    cursor: pointer;
    background-color: rgb(0,89,167);
    height: 45px;
    width: 300px;
    border-radius: 5px;
    border-width:  0px;
    margin-bottom: 50px;
    font-size: 25px;
    color: white;
    letter-spacing: 20px;
    font-family: '微软雅黑 Regular', '微软雅黑';
    transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.right .submit:hover{
    background-color: rgb(0,103,193);
}
.right .last_input{
    text-align: right;
}
.right .photo{
    position: absolute;
    right: 120px;
    top:100px;
    width: 210px;
    height: 300px;
}
.right .photo p{
    text-indent: 12px;
    font-size: 8px;
}
.right .photo p,h5{
    color: rgb(0,89,167);
}
#preview{width:144px;height:172px;border:1px solid #000;overflow:hidden;}
#imghead {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);display: none;}